$white: #ffffff;
$gray1: #f5f5f5;
$gray2: #bababa;
$gray3: #b9b9b9;
$gray4: #737373;
$gray5: #1a1a1a;

$black: #000000;
$black-10: rgba(0, 0, 0, 0.10);

$yellow1: #fded2f;
$yellow2: #ddb70f;

$pink: #e2057e;
$red: #ff3535;

$blue1: #b0dddf;
$blue2: #1a9ee3;
$blue3: #00afee;
$blue4: #1665b1;
$blue5: #1b3d69;