@import 'colors';
@import 'variables';

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 70vh;

  .avatar-image {
    width: 250px;
  }

  h1 {
    margin: 20px;
  }

  p {
    color: $red;
    font-weight: bold;
    margin: 0;  
  }
}

.navigation {
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: $white;
  opacity: .97;
  border-top: 2px solid $gray1;
  font-size: 14px;
}

.drop-shadow {
  width: 100%;
  height: 1px;
  position: -webkit-sticky;
  position: sticky;
  top: 47px;
  box-shadow: 0px 2px 0px 0px $black-10;
}

.drop-shadow-cover {
  background-color: $gray1;
  position: relative;

  width: 100%;
  height: 3px;
}

.professioinal-summary {
  display: flex;
  align-content: center;

  h1 {
    margin: 20px;
    font-style: italic;
  }

  p {
    margin: 10px;  
  }
}

.skills {
  padding-top: 64px;

  .page-container {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    flex-direction: column;
  }
}

.work-experience {
  padding-top: 64px;
}

.footer {
  height: 4vh;
  border-top: 1px solid $gray2;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  color: $gray4;
}