@import 'colors';
@import 'hero';
@import 'project';
@import 'resume';

* {
  box-sizing: border-box;

  :focus {
    outline: 1px solid $light-blue !important;
    outline-offset: 5px;
  }
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
  color: $white;
  font-family: 'Roboto', sans-serif;
}

.content-wrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding: 40px 40px;

  @media( min-width: $mobile) {
    padding: 80px 80px;
  }

}